<div>
    <div class="container-fluid col" id="main">
        <div id="title">
            <p><span class="property" style="font-size: 30px; color: aqua;">
            {{re.title}}</span>
                <span class="property" style="font-size: 24px;">, {{re.city}}</span>
            </p>

            <p><span class="property">ID nekretnine: </span><span class="value">{{re._id}}</span></p>
        </div>
        <div id="upper-div-id">
            <div id="image-slider-id">
                <img id="images" src='{{re.imageUrl}}'>
            </div>
        </div>
        <div id="lower-div-id">
            <h3 class="property-spec">Dodatne informacije</h3>
            <p><span class="property">Kvadratura</span><span class="value">{{re.area}}m<sup>2</sup></span></p>
            <p><span class="property">Cena</span><span class="value">{{re.price}}e</span></p>
            <p><span class="property">Sprat</span><span class="value">{{re.floor}}</span></p>
            <p><span class="property">Ukupno spratova</span><span class="value">{{re.totalFlors}}</span></p>
            <p><span class="property">Broj soba</span><span class="value">{{re.rooms}}</span></p>
            <p><span class="property">Broj kupatila</span><span class="value">{{re.bathrooms}}</span></p>
            <hr>
            <p><span class="property" *ngIf="re.balcony == true;">Terasa</span><span class="value" *ngIf="re.balcony == true;">DA</span></p>
            <p><span class="property" *ngIf="re.balcony == false;">Terasa</span><span class="value" *ngIf="re.balcony == false;">NE</span></p>
            <p><span class="property" *ngIf="re.elevator == true;">Lift</span><span class="value" *ngIf="re.elevator == true;">DA</span></p>
            <p><span class="property" *ngIf="re.elevator == false;">Lift</span><span class="value" *ngIf="re.elevator == false;">NE</span></p>
            <hr>
            <h3 class="property-spec">Opis</h3>
            <p><span class="property"></span><span class="value-spec">{{re.description}}</span></p>
            <hr>
            <h3 class="property-spec">Kontakt</h3>
            <p><span class="property">Adresa</span><span class="value">{{re.address}}</span></p>
            <p><span class="property">Telefon</span><span class="value">{{re.contact}}</span></p>
            <hr>
        </div>
    </div>
</div>