<div>
    <div class="form-group">
        <form (ngSubmit)="login()">
            <h2 class="lab">Prijavite se</h2>
            <div>
                <label class="lab">Korisnicko ime:</label>
                <input type="text" placeholder="Korisnicko ime" required name="username" [(ngModel)]="username">
            </div>
            <br><br>
            <div>
                <label class="lab">Lozinka:</label>
                <input type="text" placeholder="Lozinka" required name="password" [(ngModel)]="password">
            </div>
            <br>
            <h5 class="error" *ngIf="error">Netacno korisnicko ime ili lozinka</h5>
            <button type="submit" class="btn btn-warning">Prijavite se</button>
        </form>
    </div>
</div>