.form-group {
    align-tracks: center;
    background-color: #2d3246;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.lab {
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
}

.error {
    color: red;
    font-size: 12px;
}