<div class="col">
    <div class="form-group">
        <form class="form-inline my-2 my-lg-0" (ngSubmit)="search()">
            <br>
            <input class="form-control mr-sm-2" type="number" placeholder="Cena od:" name="minPrice" ngModel [(ngModel)]="minPrice">
            <input class="form-control mr-sm-2" type="number" placeholder="Cena do:" name="maxPrice" ngModel [(ngModel)]="maxPrice">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pretrazi</button>
            <br>
        </form>
        <br>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="cancel()" type="button">Otkazi</button>
    </div>
    <div *ngIf="empty === true">
        <p>Nema stanova sa zadatom pretragom</p>
    </div>
    <div (click)="onSelect(realEstate)" *ngFor="let realEstate of realEstates$">
        <div>
            <div class="col-md-12 realEstate">
                <div class="float-child">
                    <div class="col-md-6">
                        <div class="image">
                            <img [src]="realEstate.imageUrl">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="details">
                            <!-- href="/{{realEstate.id}}" -->
                            <a id="title" [routerLink]="['', realEstate.id]">{{realEstate.title}}</a>
                            <div id="address">Adresa: {{realEstate.address}}, {{realEstate.city}}</div>
                            <div id="contact">Telefon: {{realEstate.contact}}</div>
                            <div id="price">Cena: {{realEstate.price}}e</div>
                            <div id="area">Povrsina: {{realEstate.area}}m<sup>2</sup></div>
                        </div>
                    </div>
                </div>
                <div class="float-child">
                    <div class="col-md-6">
                        <div id="description">
                            <div class="description">Opis</div>
                            <div style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{realEstate.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>