/* .container {
    border: 2px solid #999;
} */

.realEstate {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    background: #2d3246;
    color: rgba(255, 255, 255, 0.8);
}

#title {
    font-size: 25px;
}

img {
    width: auto;
    height: 90%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.float-child {
    float: left;
    padding: 5px;
    width: 50%;
}

.description {
    font-size: 17.5px;
    font-weight: bold;
}